* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    height: 71px;
    background: linear-gradient(#373c48, #2a2d32);
}

.header-block {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 980px;
}

.header-block__logo {
    margin-top: 13px;
}

.header-block__h1 {
    color: #a5adb8;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.header-block__h1:first-letter {
    color: #ae4b5d;
}

.header-block__p {
    color: #626c76;
    font-size: 12px;
    font-weight: bold;
}

.header-block__search {
    margin-top: 18px;
}

.header-block__input {
    width: 201px;
    height: 35px;
    border: #875f66 1px solid;
    border-radius: 5px;
    background-color: #24272d;
    margin-right: 10px;
    box-sizing: border-box;
    padding-left: 10px;
}

.header-block__button {
    width: 37px;
    height: 37px;
    background-color: #ae4b5d;
    border: 1px #ae4b5d solid;
    border-radius: 5px;
}

.fa-search {
    color: #fff;
    text-decoration: none;
}

.container {
    width: 980px;
    margin: 0 auto;
    background-color: white;
}

main {
    margin: 0 auto;
    background-color: #e6e3e7;
}

.eaten-berry {
    height: 240px;
    background-color: rgba(40, 45, 51, 0.75);
    background-image: url("../img/img1.png");
    filter: contrast(120%);
    box-sizing: border-box;
    padding-left: 37px;
    padding-top:  40px;
}

.eaten-berry__headline-text-block {
    margin-bottom: 20px;
}

.eaten-berry__headline {
    color: #9aa1ac;
    font-size: 30px;
    font-weight: bold;
}

.eaten-berry__headline:first-letter {
    color: #ae4b5d;
}

.eaten-berry__par-1 {
    color: #2d3338;
    font-weight: bold;
    font-size: 18px;
}

.eaten-berry__par-2 {
    color: #a5adb8;
    font-weight: bold;
    font-size: 18px;
}

.eaten-berry__text {
    color: #d9dcdf;
    font-size: 14px;
    margin-top: 10px;
    width: 491px;
}

.menu {
    height: 35px;
    background-color: #95161f;
}

.menu__ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding-top: 8px;
    padding-right: 21px;
}

.menu__link {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 50px;
}

.address {
    background-color: #f3f3f3;
    height: 26px;
    box-sizing: border-box;
    padding-left: 14px;
    padding-top: 2px;
}

.address__ul {
    display: flex;
    justify-content: start;
    list-style-type: none;
}

.address__link {
    font-size: 11px;
    color: #95161f;
    margin-left: 2px;
}

.address__last {
    color: #6b6f74;
    font-size: 11px;
    margin-left: 2px;
}

.address__slash {
    font-size: 11px;
    margin-left: 2px;
}

.sidebar-and-section {
    display: flex;
}

.sidebar {
    flex: 1;
}

.main-info {
    flex: 3;
}

.sidebar {
    box-sizing: border-box;
    padding-left: 22px;
}
.sidebar-and-section {
    box-sizing: border-box;
    padding-top: 20px;
}

.sidebar__contact-us {
    border: 1px #d8dbde solid;
    box-sizing: border-box;
    padding-top: 18px;
    padding-left: 12px;
    width: 210px;
    height: 415px;
    background-color: #f3f3f3;
    padding-bottom: 33px;
}

.sidebar__input {
    border-radius: 4px;
    background-color: #e3e4e5;
    border: 1px #fff solid;
    box-sizing: border-box;
    font-size: 14px;
    padding-left: 9px;
    margin-top: 17px;
    height: 33px;
    width: 185px;
}

.sidebar__select {
    height: 33px;
    width: 185px;
    background: #e3e4e5;
    border: 1px #a2a2a2 solid;
    border-radius: 4px;
    padding-left: 9px;
    margin-top: 17px;
    color: #757575;
}

.sidebar__button {
    box-sizing: border-box;
    background-color: #ab222c;
    border: 5px #fff solid;
    font-size: 16px;
    color: #f5f4f4;
    margin-top: 16px;
    width: 168px;
    height: 36px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .25)
}

.sidebar__headline-block {
    margin-top: 27px;
    height: 200px;
    width: 210px;
}

.sidebar__headline {
    font-size: 18px;
    font-weight: bold;
}

.sidebar__paragraph {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 12px;
}

.sidebar__link {
    font-size: 12px;
    color: #95161f;
}

.main {
    box-sizing: border-box;
    padding-left: 28px;
}

.what-we-do-block__headline-first {
    color: #a5adb8;
    font-size: 24px;
    font-weight: bold;
}

.what-we-do-block__headline-first:first-letter {
    color: #ae4b5d;
}

.what-we-do-block__text {
    color: #5c646e;
    font-size: 14px;
    margin-top: 16px;
    line-height: 22px;
}

.what-we-do-block__link-in-text {
    color: #95161f;
}

.img-block {
    display: flex;
}

.img-block__third {
    margin-right: 15px;
    margin-top: 18px;
}

.img-block__headline {
    color: #282d33;
    font-size: 18px;
    font-weight: bold;
}

.img-block__img {
    margin-top: 15px;
    box-shadow: 0 7px 5px 0 rgba(0, 0, 0, .25);
}

/*.lists-blockk {*/
    /*display: flex;*/
/*}*/

ul ul {
    margin-left: 24px;
}

/*.lists-block__third li {*/
    /*margin-top: 5px;*/
/*}*/




